// Home Page styles

.home {
  padding: 50px 0;

  &__title {
    text-align: center;
    font-size: 50px;
  }

  &__text {
    text-align: center;
    font-size: 20px;
  }

  &__cards {
    max-width: 700px;
    display: grid;
    margin: 30px auto 0;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media screen and (max-width: 576px) {
  .home {
    &__title {
      font-size: 35px;
    }

    &__cards {
      max-width: 100%;
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 368px) {
  .home {
    padding-top: 30px;

    &__title {
      font-size: 25px;
    }
  }
}
